
@font-face {
    font-family: 'Open Sans';
    src: url('opensans-bold-webfont.woff2') format('woff2'),
         url('opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-bolditalic-webfont.woff2') format('woff2'),
         url('opensans-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-extrabold-webfont.woff2') format('woff2'),
         url('opensans-extrabold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-italic-webfont.woff2') format('woff2'),
         url('opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-light-webfont.woff2') format('woff2'),
         url('opensans-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-lightitalic-webfont.woff2') format('woff2'),
         url('opensans-lightitalic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-semibold-webfont.woff2') format('woff2'),
         url('opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}

html
{
  font-family: 'Open Sans','Arial',sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: lightpink;
}

body {
  margin:3em;
  padding:3em;
  background:lightblue;
  border: 15px solid blue;
}

h1,h2,h3
{
  font-family:'Open Sans';
  font-weight: bolder;
  font-style: italic;
  color: red;
}

h1 {
  max-width: 50%;
  margin: auto;
  font-size:2em;
  text-shadow: 15px 15px 15px rgb(0, 255, 163);
}

h2 {
  font-size:1.5em;
}

.titre-special
{
  text-shadow:15px 15px black;
}

p {
  font-size: 1.1em;
  text-align: left;
}

a {
  color:#333;
  text-decoration: none;
 /* ombre : décalage horizontal , décalage vertical, flou, couleur */
}

footer {
  font-size:0.65em;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  width: 50%;
  margin: 1em auto;
  border: 2px solid black;
}

div.bandeau-fixe
{
  position:fixed;
  width:100%;
  background:white;
  top:0;
  left:0;
}

div.sticker {
  position: fixed;
  width: 200px;
  left:50%;
  top:50%;
}
