.Component {
    &--element {}

    &__modifier {}
}

.Header {
    background: rgb(163, 59, 0);
    color: white;

    &--title {}

    &--description {}
}

.Footer {
    background: rgb(163, 59, 0);
    color: white;
}
