@import "util/reset";

html * {
    box-sizing: border-box;
}

html {
    font-size: 17px;
    font-family: 'Open Sans';
    line-height: 1.4;
    color: black;
}

body {}

blockquote,
h1,
h2,
h3,
p,
ul {
    margin-bottom: 0.75em;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.25em;
}

li {
    list-style-type: square;
}

.container {
    max-width: 80ch;
    @media screen and (max-width: 80ch) {
        padding: 2em 0.75em;
    }
    margin: auto;
    padding: 2em 0;
}

p {
    text-align: justify;
    max-width: 65ch;
}

a {
    color: inherit;
    text-decoration: underline;
}
@import "components/components";
